.btn {
    height: 60px;
    margin-left: 20px;
    font-size: 15px;
    padding: 0 18px;
    border: none;
    background-color: #424242;
    color: #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn a{
    color: #ddd;
    text-decoration: none;
}

.btn:hover {
  background-color: #c00;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }